
/*computer local fonts */ 
@font-face {
    font-family: "Roboto" sans-serif;
    src: url(Roboto-Italic.ttf) format(ttf);
    font-style: italic;
}

.font-container{
    width: 50%;
    margin:auto;
    min-width: 300px;
    background-color: black;
    height: 300px;
    max-width: 500px;
    box-sizing: border-box;
    padding: 20px;
    min-height: 500px;

}

.font-properties{

    background-color: white;
    padding: 2rem 1.4rem;
    font-family:"Roboto";
    font-style: italic;
    /* font: italic small-caps 700 1rem/1.5 "serif", sans-serif; */
    /* text-decoration: underline wavy red;
    text-shadow: 20px 20px 5px red;
    letter-spacing: 2px;
    white-space:pre-wrap; */
    /* font-stretch:condensed|expanded; */

}